a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
  color: #000000;
}

body {
  margin: 0px;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0px;
}

@media only screen and (min-width: 700px) {
  body {
    max-width: 1200px;
    margin: auto;
    background-color: #99e2d0;
  }
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 1rem;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.fas,
.far {
  font-size: 1.5rem;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("polices/shrikhand-regular-webfont.woff2") format("woff2"), url("polices/shrikhand-regular-webfont.woff") format("woff"), url("polices/Shrikhand-Regular.TrueType") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.Card__img {
  height: 10rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.Card {
  background-color: white;
  box-shadow: 3px 3px 10px #dedada;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  border-radius: 1rem;
}

.Card:hover {
  transform: scale(1.05);
}

.Card__img {
  height: 15rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.Card__info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.CardM {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 3px 3px 10px #dedada;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}

.CardM:hover {
  transform: scale(1.05);
}

.CardM__price {
  position: absolute;
  right: 2.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CardM__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.CardM__container--title {
  width: min-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardM__container--txt {
  width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ContainerCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  box-shadow: 3px 3px 10px #dedada;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  font-size: 1.5rem;
  max-width: max-content;
  color: #fff;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 2rem;
  border: none;
  background: radial-gradient(ellipse farthest-corner at 20px 0, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

img {
  object-fit: cover;
}

.imgM {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 0 0 1rem 0;
  height: min-content;
}

header .containerHead {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

header .containerHead i {
  display: flex;
  position: relative;
  left: 20px;
  top: 28px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heart {
  padding: 1rem;
  display: flex;
  width: 2rem;
  height: 2rem;
}

.heart:hover > .far {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.heart:hover > .gradiant-heart {
  animation: fade-out 1s ease-out both reverse;
}

.heart .far {
  width: 2rem;
  height: 2rem;
  text-align: center;
  opacity: 1;
}

.heart .gradiant-heart {
  position: relative;
  right: -25px;
  background: radial-gradient(ellipse farthest-corner at 20px 0, #ff79da 0%, #9356dc 100%);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  background-color: #353535;
  color: #ffffff;
  background-image: #ffffff;
}

footer .ContainerF {
  padding: 1rem;
}

@media only screen and (min-width: 700px) {
  footer .ContainerF {
    padding: 1rem 5rem;
  }
}

footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  padding: 10px 0px;
}

.explor {
  display: flex;
  -moz-flex-direction: vertical;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .explor {
    height: 100%;
  }
}

.explor__local {
  background-color: #eaeaea;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .explor__local p {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.explor__presentation {
  display: flex;
  -moz-flex-direction: vertical;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  justify-items: center;
  background-color: #f6f6f6;
  padding: 2rem;
}

.fonction {
  background-color: #ffffff;
}

@media only screen and (min-width: 700px) {
  .fonction {
    padding: 5rem;
    height: 100%;
  }
  .fonction h2 {
    font-size: 2rem;
    padding: 1.83rem;
    margin: 0rem;
  }
}

.fonction ul {
  margin: 0px;
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media only screen and (min-width: 1010px) {
  .fonction ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    column-gap: 2rem;
  }
}

.fonction li {
  display: flex;
  background-color: #f6f6f6;
  padding: 1rem 0 1rem 0;
  align-items: center;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #dedada;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}

.fonction li:hover {
  transform: scale(1.05);
}

.fonction li:hover {
  background-color: #f4ebff;
}

.fonction li:hover i {
  color: #9356dc;
}

.fonction i {
  padding: 0 1rem;
}

.fonction__counter {
  color: #fff;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  margin: 0 1.5rem 0 -1rem;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1rem;
}

@media only screen and (min-width: 700px) {
  .restaurant {
    padding: 5rem;
  }
}

.restaurant .ContainerCard {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 2rem;
}

@media only screen and (min-width: 700px) {
  .restaurant .ContainerCard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

section {
  display: flex;
  -moz-flex-direction: vertical;
  flex-direction: column;
}

.ContainerM {
  display: flex;
  -moz-flex-direction: vertical;
  flex-direction: column;
  background-color: #f6f6f6;
  max-width: 100%;
  padding: 2rem;
  margin: -4rem 0 0 0;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}

.ContainerM h1 {
  font-family: Shrikhand;
}

.decoration {
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
}

h1 {
  display: flex;
  justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */