// footer

footer {
  background-color: #353535;
  color: $backgroundlight;
  h2{
    font-family: Shrikhand;
  }
  .ContainerF {
    padding: 1rem;
    @include tablette {
      padding: 1rem 5rem;
    }
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      padding: 10px 0px;
    }
  }
  a:link {
    color: $backgroundlight;
  }

  a:visited {
    color: $backgroundlight;
  }

  a:hover {
    color: $backgroundlight;
  }

  a:focus,
  a:active {
    color: $backgroundlight;
  }
}
