//header

header {
  background-color: $backgroundlight;
  text-align: center;
  padding: 1rem 0;
  .containerHead {
    max-width: 1200px;
    margin: auto;
    @include flexbox;
    align-content: space-between;
  }
  i {
    @include flexbox;
    justify-self: flex-start;
    margin-right: 1rem;
  }
}
