//header

header {
  background-color: $backgroundlight;

  text-align: center;
  padding: 1rem 0;
  height: min-content;
  .containerHead {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    i {
      @include flexbox;
      position: absolute;
      left: 20px;
      top: 25px;
      @include desktop {
        position: relative;
        right: 20px;
        top: 25px;
      }
    }
  }
}
