.explor {
  @include flex-column;
  text-align: center;
  width: 100%;
  @include tablette {
    height: 100%;
  }
  &__local {
    background-color: $backgrounddark;
    padding: 10px;
    text-align: center;
    @include tablette {
      p {
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
  }
  &__presentation {
    @include flex-column;
    height: 100%;
    justify-content: space-between;
    justify-items: center;
    background-color: $backgroundmiddle;
    padding: 2rem;
  }
}
