//cards

.Card {
  @include flexbox;
  flex-direction: column;
  background-color: $backgroundlight;
  &__img {
    height: 10rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}
//mettre en -- les cards
.Card {
  background-color: white;
  @include shadowcard;
  border-radius: 1rem;
  &__img {
    height: 15rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  &__info {
    @include flexbox;
    justify-content: space-between;
    padding: 1rem;
  }
}

.CardM {
  background-color: $backgroundlight;
  padding: 1rem;
  @include flexbox;
  flex-direction: row;
  border-radius: 0.75rem;
  margin: 1rem 0;
  @include shadowcard;
  cursor: pointer;
  &__price {
    position: absolute;
    right: 2.5rem;
    font-weight: bold;
    margin-top: 0.8rem;
    @include flexbox;
    justify-content: flex-end;
    align-items: center;
  }
  &__container {
    overflow: hidden;
    @include flex-column;
    &--title {
      width: min-content;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--txt {
      width: 60vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// conteneur card

.ContainerCard {
  @include flex-column;
  width: 100%;
}
