//body
body {
  font-family: "roboto", sans-serif;
  margin: 0px;

  @include tablette {
    max-width: 1200px;
    margin: auto;
    background-color: $tertiarycolor;
  }
}


//text and icons
h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 1rem;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1vw;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.fas,
.far {
  font-size: 1.5rem;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("polices/shrikhand-regular-webfont.woff2") format("woff2"),
    url("polices/shrikhand-regular-webfont.woff") format("woff"),
    url("polices/Shrikhand-Regular.TrueType") format("TrueType");
  font-weight: normal;
  font-style: normal;
}