@mixin tablette {
  @media only screen and (min-width: map-get($map:$breakpoint , $key:tablette )) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: map-get($map:$breakpoint , $key: desktop )) {
    @content;
  }
}
@mixin shadowcard {
  box-shadow: 4px 4px 5px $backgrounddark;
}

// Flexbox display
@mixin flexbox {
  display: flex;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -moz-flex-direction: vertical;
    flex-direction: column;
  } @else {
    -moz-flex-direction: horizontal;
    flex-direction: row;
  }
}

@mixin flex-column {
  @include flexbox();
  @include flex-direction(column);
}

// animation

@mixin grow {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.6s;
  &:hover {
    transform: scale(1.05);
  }
}
