@mixin tablette {
  @media only screen and (min-width: map-get($map:$breakpoint , $key:tablette )) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: map-get($map:$breakpoint , $key: desktop )) {
    @content;
  }
}
@mixin shadowcard {
  box-shadow: 3px 3px 10px #dedada;
}

// Flexbox display
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin flex-column {
  @include flexbox();
  @include flex-direction(column);
}
