$breakpoint: (
  tablette: 700px,
  desktop: 1010px,
);

$backgroundlight: #ffffff;
$backgroundmiddle: #f6f6f6;
$backgrounddark: #eaeaea;

$primarycolor: #9356dc;
$secondarycolor: #ff79da;
$tertiarycolor: #99e2d0;
